<p>
  <strong>振替状況</strong>
  <%if @charge.charge_flg %>
     振替後
  <% else %>
     振替前
  <% end %>
</p>

<p>
  <strong>振替日:</strong>
  <%= @charge.charge_date %>
</p>

<p>
  <strong>振替コメント:</strong>
  <%= @charge.charge_comment %>
</p>


<%= link_to t('views.link_back'), anchor_path %> 

